О поддежке расширений "encrypt then MAC" и "extended master secret" для белорусских криптонаборов

Поддержка расширений "encrypt then MAC" и "extended master secret" не соответствует СТБ 34.101.65-2014. Однако отдельные конкретные продукты с реализацией белорусского TLS вполне их "переваривают". Вероятно поддержка этих расширений для белорусских криптонаборов должна быть заблокирована в сертифицированных продуктах?

Речь идет о расширениях, установленных в [RFC7366](https://www.rfc-editor.org/rfc/rfc7366.txt) и  [RFC7627](https://www.rfc-editor.org/rfc/rfc7627.txt). 

Обратим внимание, что RFC7366 вступил в действие в сентябре 2014 года, 
одновременно с СТБ 34.101.65, а RFC7627 -- в сентябре 2015 года. СТБ 34.101.65 в принципе не мог учесть расширения, стандартизация которых в момент разработки СТБ еще не была завершена. Тем не менее, ситуация меняется, расширения используются на практике (в частности, реализованы в OpenSSL) и следует высказаться относительно их применении к криптонаборам СТБ 34.101.65.

# Расширение "encrypt-then-mac"

В криптонаборах СТБ 34.101.65 используются две комбинации алгоритмов шифрования и имитозащиты:  BELT_CTR_MAC и BELT_DWP. Ни одна из комбинаций не построена по потенциально опасной схеме mac-then-encrypt, поэтому расширение "encrypt-then-mac" не является релевантным: его **не следует использовать или, по крайней мере, следует игнорировать**.

Отметим, что в bee2evp/btls при объявлении криптонаборов с  BELT_DWP поле `algorithm_mac` устанавливается равным `SSL_AEAD`, который блокирует применение расширения "encrypt-then-mac" (см. функцию `tls_construct_stoc_etm()` в файле `openssl\ssl\statem\extensions_srvr.c`).

Для криптонаборов с BELT_CTR_MAC ситуация другая: поле `algorithm_mac` здесь устанавливается равным `SSL_BELTMAC` и расширение "encrypt-then-mac" в принципе может применяться. Действительно ли применяется? Если да, то как подавить? Требуется дополнительный разбор. 

# Расширение "extended-master-secret"

В криптонаборах СТБ 34.101.65 используются два механизма (алгоритма) формирования общего ключа: DHE и DHT. Каждый из механизмов может усиливаться через использование предварительно согласованных общих секретов (PSK).

Расширение "extended-master-secret" защищает от атаки, в которой противник A добивается совпадения `master_secret` в двух сеансах TLS c разными сторонами: клиентом С и сервером S. Повтор ключа `master_secret` чреват снижением стойкости механизмов, основанных на предположении об его уникальности, например, механизма возобновления связи (session resumption). 

Атака проходит для механизма DHT. Противник выступает в роли сервера перед C, получает от C зашифрованный `pre_master_secret`, расшифровывает его и пересылает S, выступая в роли клиента. В результате в сеансах C-A и A-S ключ `pre_master_secret` будет совпадать. Противник может дополнительно добиться совпадения сеансовых случайных данных `ClientHello.random`, `ServerHello.random`, что в итоге дает искомое совпадение `pre_master_secret`.

Для защиты от атаки в RFC7627 при построении `master_secret` по `pre_master_secret` предлагается использовать вместо `ClientHello.random + ServerHello.random` хэш-значение данных обмена между сторонами протокола. Данные обмена включают заведомо различные сертификаты сторон и уникальность `master_secret` будет соблюдена.

Расширение "extended-master-secret" является полезным и рекомендуемым для криптонаборов СТБ 34.101.65, основанных на механизме DHT.  Другое дело, что расширение **не соответствует** стандарту, где при построении `master_secret` однозначно используется `ClientHello.random + ServerHello.random`. (Точно так  RFC7627 формально не соответствует TLS 1.2/RFC5246).

Представляется целесообразным внести поправку в СТБ 34.101.65, допустив использование расширения "extended-master-secret" и даже потребовав использование в некоторых случаях. Пока рекомендуется отдавать предпочтение криптонабором с механизмом DHE.






"openssl + bee2evp" в режиме сервера, при выборе для соединения белорусского криптонабора, не поддерживает использование расширения "encrypt-then-mac" (проверено на клиентах, которые отправляют расширение в ClientHello). 
В случае с расширением "extended-master-secret"  сервер "openssl + bee2evp" поддерживает и использует работу в рамках расширения "extended-master-secret" с белорусскими криптонаборами.
Внесение изменений в СТБ 34.101.65 для возможности легального использования расширения "extended-master-secret" было бы удачным решением.

Расширение "encrypt-then-mac" действительно блокируется в патче, размещенном в папке btls. Блокировка реализована через дополнительную проверку
```
s->s3->tmp.new_cipher->algorithm_enc == SSL_BELTCTR
```
в функции `tls_construct_stoc_etm()` модуля `ssl/statem/extensions_srvr.c`. Проверка выполняется на стороне сервера.

Итак, расширение "encrypt-then-mac" в bee2evp/btls **игнорируется сервером** и для криптонаборов с BELT_DWP, и для криптонаборов с BELT_CTR_MAC. Такое поведение является правильным, оно рекомендовано выше.

Другое дело, что желательно не только игнорировать расширение на стороне сервера, но и подавить отправку расширения клиентом. По-видимому (@LawrE18) это можно сделать, добавив проверку
```
s->s3->tmp.new_cipher->algorithm_enc != SSL_BELTCTR
```
в функции `tls_parse_stoc_etm()` модуля `ssl/statem/extensions_clnt.c`.


Расширение "extended-master-secret" в OpenSSL загружается в сообщение `ClientHello` в функции `tls_construct_extensions()` модуля `ssl/statem/extensions.c`. В функции пробегаются расширения, зарегистрированные в массиве `ext_defs`, и для каждого расширения проверяется необходимость его включения в `ClientHello`. Расширение "extended-master-secret" обязательно включается в случае использования TLS 1.2, т.е. в нашем случае.

Логику `tls_construct_extensions()` можно изменить через патч. По крайней мере, расширение можно отключить в криптонаборах типа DHE. Эти криптонаборы не подвержены атаке, от которой защищает расширение.

Но отключение "extended-master-secret" (даже избирательное) представляется нецелесообразным. Ведь расширение фактически стало обязательным в современных редакциях TLS 1.2.  Вплоть до того, что серверу следует разорвать соединение с клиентом, который не указал расширение в своем приветствии:
> If the server receives a ClientHello without the extension, it SHOULD abort the handshake if it does not wish to interoperate with legacy clients [RFC7627].

Согласен с тем, что 
> Внесение изменений в СТБ 34.101.65 для возможности легального использования расширения "extended-master-secret" было бы удачным решением.


В продолжение темы о необходимости внесения изменения в СТБ 34.101.65. 
В СТБ 34.101.65 приводится подробная информация по применению  расширений signature_algorithms и renegotiation_info, а также указано, что "для управления выбором сертификатов, могут использоваться расширения server_name и trusted_ca_keys". 
Возможно, стоит рассмотреть вопрос о внесении в СТБ 34.101.65 сведений о применении (используемых алгоритмах хэшифрования / ЭЦП и пр.)  для расширений status_request (см. RFC 6066:2011) и status_request_v2 (см. RFC 6961:2013), которые задействуют механизмы Online Certificate Status Protocol (OCSP), позволяющих сократить обмен, связанный с обновлением списков отозванных сертификатов при создании и эксплуатации инфраструктуры открытых ключей.

Обсуждение переносится в репозиторий, непосредственно посвященный СТБ 34.101.65: https://github.com/bcrypto/btls/issues/1, https://github.com/bcrypto/btls/issues/2.